@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

a {
  @apply text-blue-600 hover:text-blue-800;
}

.card {
  @apply mb-5 block rounded-lg border border-gray-200 shadow-md;
}

.primary-button {
  @apply rounded bg-amber-300 py-2 px-4 outline-none hover:bg-amber-400 active:bg-amber-600;
}

input,
select,
textarea {
  @apply rounded border p-2 outline-none ring-indigo-300 focus:ring;
}

.dropdown-link {
  @apply flex p-2 hover:bg-gray-200;
}
